{% extends "main_template.html" %}
{% block main_container %} 
        <!-- card 배치(배열,정렬)-->
        <div class="row">
            <div class="col-6 card">
                <div class="card-header bg-primary">Header</div>
                <div class="card-body bg-secondary">Contents</div>
                <div class="card-footer bg-info">Footer</div>
            </div>
            <div class="col-6 card">
                <div class="card-header bg-primary">Header</div>
                <div class="card-body bg-secondary">Contents</div>
                <div class="card-footer bg-info">Footer</div>
            </div>
        </div>
        <!-- Basic Card -->
        <div class="card">
            <div class="card-header bg-primary">Header</div>
            <div class="card-body bg-secondary">Contents</div>
            <div class="card-footer bg-info">Footer</div>
        </div>
    {% endblock %}