<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="./css/menus.css">

    <style>
        .container {
            margin: 5px 10%;
        }
        a:hover {
            background-color: white;
        }
    </style>
</head>

<body>
    <!-- top menu -->
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="../templates/gadgets/buttons.html">buttons</a></li>
            <li class="nav-item"><a href="../templates/gadgets/cards.html">cards</a></li>
            <li class="nav-item"><a href="../templates/gadgets/colors.html">colors</a></li>
            <li class="nav-item"><a href="../templates/gadgets/containers.html">containers</a></li>
            <li class="nav-item"><a href="../templates/positionings/forms.html.html">forms</a></li>
            <li class="nav-item"><a href="../templates/positionings/grids.html">grids</a></li>
            <li class="nav-item"><a href="../templates/positionings/standards.html">standards</a></li>
            <li class="nav-item"><a href="../templates/positionings/tables.html">tables</a></li>
        </ul>
    </nav>

    <!-- 현재 작성한 모든 파일에 링크 작성 -->
    <!-- main -->
    <main>      
    </main>

</body>
</html>