{% extends "main_template.html" %}
{% block main_container %}
<h2>Basic Table</h2>
<!-- <table class="table table-bordered"> tr(행) 아래에만 선이 그어짐 -->
<table class="table table-bordered"> <!-- 표 전체에 선이 그어짐  -->
    <!-- <table class="table table-bordered table-striped"> 줄무늬  -->
    <table class="table table-hover table-bordered table-striped"> <!-- 마우스 가져다대면 색깔이 바뀜  -->
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
{% endblock %}